* {
    margin: 0;
}

.grid {
    margin: auto;
}

.grid-item {
    margin-bottom: 25px;
}

.grid-item:hover {
    cursor: pointer;
}

.pic-hover-info {
    display: none;
}

.artist-name {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    width: 100%;
}

.active {
    display: block;
}

.pic-bottom-flex, .pic-top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-flex {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

h5 {
    display: inline-block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 15px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.icon {
    padding: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.download {
    margin-right: 7%;
}

.icon:hover {
    opacity: .9;
}

.collect-like {
    position: absolute;
    top: 20px;
    right: 0px;
}

.bookmark {
    margin-right: 10px;
}

.heart {
    margin-right: 18px;
}



