* {
    margin: 0;
}

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.gallery-title {
    font-size: 3rem;
    padding-top: 50px;
}

.gallery-options-container {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photos-option-container {
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 12px 23px;
    border-radius: 30px;
}

.photos-option-container:hover {
    opacity: .8;
    cursor: pointer;
}

h3 {
    font-size: 1.05rem;
    font-weight: 500;
}

.photos-option-container span {
    font-size: 0.95rem;
    font-weight: 500;
    color: rgb(127, 127, 127);
    margin-left: 8px;
}

.filters {
    padding: 15px;
    border: 1px solid #dfdfe0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.filter-icon {
    margin-right: 10px;
}

.filters:hover {
    border-color:#bfbfbf;;
    cursor: pointer;
}

.filters:hover .filter-icon {
    opacity: .8;
}

.grid-container {
    margin: auto;
    width: 400px;
} 

.grid {
    margin: auto;
}

.grid-item {
    margin-bottom: 25px;
}

.grid-item:hover {
    cursor: pointer;
}

.pic-hover-info {
    display: none;
}

.artist-name {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    width: 100%;
}

.active {
    display: block;
}

.pic-bottom-flex, .pic-top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-flex {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

h5 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 15px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.icon {
    padding: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.download {
    margin-right: 7%;
}

.icon:hover {
    opacity: .9;
}

.collect-like {
    position: absolute;
    top: 20px;
    right: 0px;
}

.bookmark {
    margin-right: 10px;
}

.heart {
    margin-right: 18px;
}

select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 500;
    border: 1px solid #dfdfe0;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.filter-dropdown {
    height: 0px;
    transition: .1s ease all;
    visibility: hidden;
    opacity: 0;
}

.show-dropdown {
    height:150px;
    transition: .1s ease all;
    visibility: visible;
    opacity: 1;
}








@media only screen and (min-width: 840px) {
    .grid-container {
        width: 825px;
    }
}


@media only screen and (min-width: 1265.6px) {
    .grid-container {
        width: 1250px;
    } 
}