* {
    margin: 0;
}

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
    all: unset;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #f4f4f4;
    background-color: white;
    display: flex;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 12px;
    flex: 1;
}

.logo-link {
    display: flex;
    align-items: center;
}

.site-name {
    display: none;
    margin-right: 10px;
}

.logo {
    width: 60px;
    padding: 5px;
}

.search-input-container {
    display: flex;
    align-items: center;
    background-color: aqua;
}

input[type="text"] {
    box-sizing: border-box;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    border: none;
    margin-left: 5px;
    flex: 1;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
 }

 input[type="text"]::placeholder {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
 }

.search-btn {
    border: none;
    padding: 16.5px 20px;
    border-radius: 0px 10px 10px 0px;
    background-color: #f1f1f1;
}

.search-btn:hover {
    cursor: pointer;
}

.search-btn img {
     width: 18px; 
}

.navbar-right {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.explore, .license, .notification, .profile, .uploadBtn {
    display: none;
}

.notification {
    display: none;
    margin: 15px;
}

.bell {
    width: 19px;
    height: 21px;
}

.notification:hover {
    opacity: .7;
}

.profile {
    display: none;
}

.profile-icon {
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    background-color: #F0E6FB;
}

.down-carrot {
    width: 10px;
    filter: invert(94%) sepia(6%) saturate(18%) hue-rotate(325deg) brightness(83%) contrast(88%);
    padding: 10px;
}

.profile:hover {
    cursor: pointer;
    transition: .5s ease filter;
    filter: brightness(0.7);
}

.profile:hover .down-carrot {
    transform: scaleY(-1);
}

.uploadBtn {
    background-color: #05a081;
    border-radius: 8px;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}

.uploadBtn:hover {
    background-color: #059377;
}

.mobile-menu {
    width: 25px;
    padding: 15px;
}

.mobile-menu:hover {
    cursor: pointer;
    opacity: .6;
}

.gallery-title {
    font-size: 1.8rem;
    padding-top: 50px;
    font-weight: 600;
}

.gallery-options-container {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photos-option-container {
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 12px 23px;
    border-radius: 30px;
}

.photos-option-container:hover {
    opacity: .8;
    cursor: pointer;
}

h3 {
    font-size: 1.05rem;
    font-weight: 500;
}

.photos-option-container span {
    font-size: 0.95rem;
    font-weight: 500;
    color: rgb(127, 127, 127);
    margin-left: 8px;
}

.filters {
    padding: 15px;
    border: 1px solid #dfdfe0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.filter-icon {
    margin-right: 10px;
}

.filters:hover {
    border-color:#bfbfbf;;
    cursor: pointer;
}

.filters:hover .filter-icon {
    opacity: .8;
}

.grid-container {
    margin: auto;
    padding-top: 40px;
    width: 400px;
} 

.grid {
    margin: auto;
}

.grid-item {
    margin-bottom: 25px;
}

.grid-item:hover {
    cursor: pointer;
}

.pic-hover-info {
    display: none;
}

.artist-name {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    width: 100%;
}

.active {
    display: block;
}

.pic-bottom-flex, .pic-top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-flex {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

h5 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 15px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.icon {
    padding: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.download {
    margin-right: 7%;
}

.icon:hover {
    opacity: .9;
}

.collect-like {
    position: absolute;
    top: 20px;
    right: 0px;
}

.bookmark {
    margin-right: 10px;
}

.heart {
    margin-right: 18px;
}

select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 500;
    border: 1px solid #dfdfe0;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.filter-dropdown {
    height: 0px;
    transition: .2s ease all;
    visibility: hidden;
    opacity: 0;
}

.show-dropdown {
    height:135px;
    transition: .2s ease all;
    visibility: visible;
    opacity: 1;
}

.rotate-down {
    transform: rotate(-180deg);
    transition: transform .2s linear;
}

.rotate-up {
    transform: rotate(0deg);
    transition: transform .2s linear;
}





@media only screen and (min-width: 650px) {
    .profile {
        display: flex;
        align-items: center;
        margin: 15px;
        transition: .5s ease filter;
    }
    .uploadBtn, .notification {
        display: block;
    }
     

}

@media only screen and (min-width: 840px) {
    .grid-container {
        width: 825px;
    }
    .site-name {
        display: block;
    }
    
}

@media only screen and (min-width: 900px) {
    .mobile-menu {
        display: none;
    }
    
}


@media only screen and (min-width: 1265.6px) {
    nav {
        height: 80px;
    }
    .logo {
        width: 70px;
        padding: 5px;
    }
   
    
    .gallery-title {
        font-size: 3rem;
        font-weight: 700;
    }
    .grid-container {
        width: 1250px;
    } 
}